<% if current_user %>
  <span><%= "Logged as #{current_user.first_name}" %></span>
  <!---------- Log out ---------->
  <%= link_to destroy_user_session_path, method: :delete do %>
    <i class="fas fa-sign-out-alt"></i> Logout
  <% end %>
<% else %>
  <!---------- Login ---------->
  <%= link_to new_user_session_path, class: "btn-login colors" do %>
    <span><i class="far fa-user"></i> Sign in</span>
  <% end %>
  <!---------- Sign Up ---------->
  <%= link_to new_user_registration_path, class: "btn-login colors" do %>
    <span><i class="fas fa-user-plus"></i></i> Sign up</span>
<% end %>
<% end %>
